### 데이터 준비하기 1

* 실습할 도구들
1. 파일 읽어오기: `pd.read_csv('/경로/파일명.csv')`
2. 모양 확인하기: `print(데이터.shape)`
3. 칼럼 선택하기: `데이터[['칼럼명1', '칼럼명2', '칼럼명3' ]]`
4. 칼럼 이름 출력하기: `print(데이터.columns)`
5. 맨 위 5개 관측치 출력하기: `데이터.head()`

* 사용할 라이브러리: `pandas`

### 샘플데이터
파일로부터 데이터 읽어오기: `pd.read_csv()`
* 파일경로는 따옴표 사이에 넣을 것

레모네이드 = https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv
 
보스턴 = https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

아이리스 = https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv

### 목표
* 최종적으로 독립변수와 종속변수를 분리
* 학습을 위해선 종속변수를 모아 종속변수 칼럼에 담아야하고 독립변수도 마찬가지
* 칼럼 선택을 위해선 칼럼이름을 선택 -> 칼럼 선택하기의 칼럼 이름에 붙여 넣는다는게 대체 뭔소리냐

In [5]:
# 라이브러리 사용을 위해 pandas를 pd로 import
import pandas as pd

In [6]:
# 레모네이드 데이터 읽어오기

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레모네이드 = pd.read_csv(파일경로)

In [7]:
레모네이드

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48
5  25   50

In [9]:
# 다른 파일도 읽어오기

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)

### 데이터 모양으로 확인하기
`print(변수.shape)` 로 col 개수와 row의 개수를 순서쌍으로 출력 할 수 있다.

In [14]:
print(레모네이드.shape)
print(보스턴.shape)
print(아이리스.shape)

(6, 2)
(506, 14)
(150, 5)

### 칼럼이름 출력
독립변수와 종속변수를 분리하기 전 작업

In [15]:
print(레모네이드.columns)
print(보스턴.columns)
print(아이리스.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [16]:
# 대괄호 두개 잊지 말 것

# 레모네이드
독립 = 레모네이드 [['온도']]
종속 = 레모네이드[['판매량']]

# 분리되었는지 확인 (칼럼 각각 하나씩인지)
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [19]:
# 대괄호 두개 잊지 말 것

# 보스턴
독립 = 보스턴 [['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]  # 앞에 열세개를 독립
종속 = 보스턴[['medv']]  # 뒤에 하나를 종속으로 (왜? -> 나중에)

# 분리되었는지 확인 (칼럼 각각 하나씩인지)
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [20]:
# 대괄호 두개 잊지 말 것

# 아이리스
독립 = 아이리스 [['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 아이리스[['품종']]

# 분리되었는지 확인 (칼럼 각각 하나씩인지)
print(독립.shape, 종속.shape)

(150, 4) (150, 1)

여기까지가 데이터 준비 과정

다음: 모델 만들어서 모델에 데이터 학습

In [24]:
# 첫 5개 데이터 확인하는 작업

레모네이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [22]:
보스턴.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [23]:
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa